<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)">
	<configuration>
		<connectionStrings>
			<add name="EmpresaXDb" connectionString="Host=127.0.0.1;Port=5432;Database=empresa_x;Username=postgres;Password=admin" providerName="Npgsql"/>
		</connectionStrings>
	</configuration>
</SettingsFile>

